.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.app-container {
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}
